<!DOCTYPE html>
%html
  %head
    %title Share
    %link{:rel => 'stylesheet',:href => url('style.css'),:type => 'text/css',:media => 'screen'}
  %body
    #header
    #content.pagewidth
      = yield
