%form{:method => :post}
  %label{:for => 'username'} Username
  %input{:type => :text, :name => 'username'}
  %label{:for => 'password'} Password
  %input{:type => :password, :name => 'password'}
  %input{:type => :submit, :value => 'Create User'}

